<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Spring Boot Application with JSP</title>
</head>
<body>
    Hello, Spring Boot App
    
    
    <form action="https://cvu.awin.com/rest/upload/cv" 
    method="POST" 
    enctype="multipart/form-data">
    	<table>
			<tr>
				<td>File to upload:</td>
				<td><input type="file" name="file" />
				</td>
			</tr>
			<tr>
				<td>data1 : </td>
				<td><input type="text" name="data1"></td>
			</tr>
			<tr>
				<td>data2 : </td>
				<td><input type="text" name="data2"></td>
			</tr>
			
			<tr>
				<td>data3 : </td>
				<td><input type="email" name="data3"></td>
			</tr>
			
			
			<tr>
				<td>data4 : </td>
				<td><input type="text" name="data4"></td>
			</tr>
			
			<tr>
				<td></td>
				<td><input type="submit" value="Upload" /></td>
			</tr>
		</table>
    
    </form>
</body>
</html>